
<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/profile.jpeg" alt="Bramsurya Johannes Paulus" style="height: 350px;">
      <h1 class="display-1">Bramsurya Johannes Paulus</h1>
      <p class="lead">Frontend Developer</p>
    </div>
  </div>
</div>